@charset "utf-8";
/* External Panel StyleSheet */

body{ background: #ededed; margin: 0px; padding: 0px; color: #333; font-family: lucida sans unicode; font-size: 14px; overflow: hidden;}
#panel{ background: #ededed; box-shadow: inset 0 0 10px #ccc; width: 300px; padding: 10px;}
#website{ background: #ededed; padding: 10px; border-top: 5px solid #ff4800; position: absolute; top: 0px; left: 0px;}
#button{ background: #ff4800; padding: 10px; color: #fff; position: absolute; bottom: 20px; left: 20px;}
